# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/
.env
!.env.example

# НЕ игнорируем .vscode в шаблоне, чтобы cookiecutter копировал
# .vscode/  ← закомментировано или убрано

# Testing
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# UV
uv.lock